body{
	margin: 0;
	padding: 0;
	background-color: #BAD6FF;
}
.sol {
	width: 100px;
	height: 100px;
	background-color: #FFF123;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 20px;
	left: 30px;
}

.pasto{
	height: 100px;
	background-color: #58FF1D;
	background-size: cover;
	position: relative;
	top: 572px;
}

/*CREANDO CASITA*/
#casita{
	top: 330px;
	right: 100px;
	position: absolute;
}
.techo {
	border-bottom: 100px solid #2B2B2B;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 200px;
	position: relative;
}
.pared{
	width: 300px;
	height: 170px;
	background-color: #CF3053;
	position: relative;
}
.puerta{
	width: 75px;
	height: 120px;
	background-color: #C18282;
	position: absolute;
	bottom: 0;
	left: 50px;
}

.ventana {
	width: 70px;
	height: 70px;
	background-color: #FAFAFA;
	right: 50px;
	bottom: 50px;
	position: absolute;
}

.chimenea{
	background-color: #CF3053;
	width: 40px;
	height: 55px;
	top: -20px;
	left: 130px;
	position: relative;
}
.humo{
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	background-color: #A1A1A1;
}

.humo1{
	top: -55px;
	right: 5px;	
	width: 50px;
	height: 50px;
}
.humo2{
	top: -130px;
	right: -20px;
	width: 40px;
	height: 40px;	
}
.humo3{
	top: -195px;
	right: -50px;
	width: 30px;
	height: 30px;
}
/*Corazon puerta*/
